/* Universal Selector */
* {
  font-family: "Goudy Bookletter 1911", sans-serif;
}

/* Variable */
:root {
  --dark: #090979;
  --light: #a2a2e6;
  --radius: 50px;
  --center: center;
}

/* Element Selectors */
header {
  padding: 20px;
  margin: 20px;
}
body {
  background: linear-gradient(
    to bottom,
    #000dba,
    #5340cb,
    #7e6cd9,
    #a597e7,
    #cbc3f2,
    #dcd7f7,
    #eeebfb,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}

h1 {
  font-size: 23px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  text-align: var(--center);
}

h4 {
  font-size: 18px;
  margin: 20px auto;
  text-align: var(--center);
  color: var(--dark);
}
P {
  text-align: var(--center);

  font-size: 18px;
}

button:hover {
  background-color: var(--dark);
  color: white;
  box-shadow: 0 0 10px black inset;
}
button:active {
  background-color: white;
  color: var(--dark);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--light);
  border-radius: 11px;
  line-height: 2;
}

form h4 {
  color: #971613;
}

footer {
  text-align: var(--center);
  color: var(--dark);
  padding: 20px;
  margin: 20px;
}

/* Class Selectors */
.highscores {
  display: inline-block;
  border-radius: 11px;
  color: var(--dark);
  background-color: #dad5e8;
  font-size: 16px;
  margin: 25px 11px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
}

.timelapsed {
  display: inline-block;
  color: #971613;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 65%;
  padding: 14px 34px;
}

.start-button,
#submit {
  border-radius: 11px;
  display: inline-block;
  background-color: var(--dark);
  color: white;
  font-size: 22px;
  line-height: 22px;
  margin: 25px 11px 16px 20px;
  padding: 14px 34px;
  text-align: var(--center);
  cursor: pointer;
  margin-left: 43%;
}

.quiz {
  text-align: var(--center);
  font-size: 23px;
  padding: 55px;
}

.responses {
  text-align: var(--center);
  padding: 20px;
  color: #971613;
  font-weight: bolder;
}
.high-score {
  font-size: 20px;
  padding: 20px;
  font-weight: bolder;
  text-align: var(--center);
}
.high-score:hover {
  font-size: 110%;
  color: white;
}

/* ID Selectors*/
#submit {
  font-size: 16px;
  padding: 14px 34px;
  margin: 12px auto;
  cursor: pointer;
}

#answers {
  text-align: left;
  color: var(--dark);
}
#answers button {
  display: flex;
  align-content: center;
  background-color: var(--dark);
  color: white;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
}
#answers button:hover {
  background-color: var(--dark);
  color: white;
  box-shadow: 0 0 10px black inset;
}
#answers button:active {
  background-color: white;
  color: var(--dark);
}

#final-highscores {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
/* Media Querries */
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  .button {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  form {
  }
}

/* Small smartphones - image placeholders change color */
@media (max-width: 576px) {
  .button {
    font-size: 0.8rem;
  }
  form {
    width: 200px;
  }
}
